.projectDescription {
    color: whitesmoke;
    position: relative;
}

.projectDescription > * {
    padding-left: 10px;
    z-index: 2;
    padding-right: 10px;
}

.projectDescription > *:last-child {
    padding-bottom: 3%;
}

.projectDescription > h1 {
    margin-bottom: 10%;
    font-size: 4rem;
}

.projectDescription > label {
    margin-bottom: -20px;
    
    font-size: smaller;
}

.projectDescription > h3 {
    margin-bottom: 0;
    max-width: max(80%, 600px);
}

h3 span {
    text-decoration: underline;
}

.projectDescription > h4 {
    margin-bottom: 0;
}

.projectDescription > p {
    /* padding-left: 20px; */
    margin: 0;
    max-width: max(80%, 600px);
    text-align: justify;
}

.scale1_04 {
    transform: scale(1.04);
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height_100 {
    height: 100%;
}

.projectDescription > .margin-bottom-0 {
    margin-bottom: 0;
}

.largeImageStudioA {
    scale: 1.06;
    padding-left: 18px;
    margin-bottom: -10px;
    /* transform: translateX(-13%); */
}

.backgroudTextStudioA {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    filter: grayscale(1) brightness(0.5) blur(3px);
    margin-left: -15px;
    margin-bottom: -15px;
}


.backgroudTextThesis {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    filter: grayscale(1) brightness(0.5) blur(3px);
    margin-left: -60px;
    margin-bottom: -24px;
    scale: 1.05;
}

.largeImageThesis {
    scale: 1.03;
    padding-left: 0px;
    margin-bottom: -10px;
}

.backgroudTextScouts {
    position: absolute;
    z-index: 1;
    /* margin: 0;
    padding: 0; */
    margin-top: 30px;
    filter: grayscale(1) brightness(0.5) blur(3px);
    padding-left: 120px;
    margin-bottom: -12px;
    scale: 1.05;
    /* transform: scaleX(-1); */
    justify-self: center;
    align-self: center;
}

.largeImageScouts {
    scale: 1.02;
    padding-left: 50px;
    margin-bottom: -10px;
}

@media (width < 1900px) {
    .projectDescription > h1 {
        font-size: 3rem;
    }

    .projectDescription > h3 {
        font-size: medium;
    }

    .projectDescription > p {
        font-size: small;
    }
}

@media (width < 1250px) {
    .projectDescription > h1 {
        font-size: 2rem;
    }

    .projectDescription > h3 {
        font-size: smaller;
    }

    .projectDescription > p {
        font-size: small;
    }

    .projectDescription > label {
        margin-bottom: -10px;
    }
}

@media (width < 1100px) {
    .projectDescription > h1 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    .projectDescription > h3 {
        font-size: smaller;
    }

    .projectDescription > p {
        font-size: x-small;
    }

    .projectDescription > label {
        margin-bottom: -10px;
        font-size: small;
    }
}

@media (width < 950px) {
    .projectDescription > h1 {
        font-size: 4rem;
        margin-bottom: 15%;
    }

    .projectDescription > h3 {
        font-size: large;
    }

    .projectDescription > p {
        font-size: medium;
    }

    .projectDescription > label {
        margin-bottom: -10px;
        font-size: smaller;
    }
}

@media (width < 700px) {
    .projectDescription > h1 {
        font-size: 2rem;
    }

    .projectDescription > h3 {
        font-size: smaller;
    }

    .projectDescription > p {
        font-size: small;
    }

    .projectDescription > label {
        margin-bottom: -10px;
    }
}

@media (width < 550px) {
    .projectDescription > h1 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    .projectDescription > h3 {
        font-size: smaller;
    }

    .projectDescription > p {
        font-size: x-small;
    }

    .projectDescription > label {
        margin-bottom: -10px;
        font-size: small;
    }
}

@media (width < 440px) {

    .projectDescription > h1 {
        margin-top: 10%;
        font-size: 2rem;
        margin-bottom: 3%;
    }

    .projectDescription > h3 {
        font-size: smaller;
        margin-bottom: 0;
    }

    .projectDescription > p {
        font-size: x-small;
    }

    .projectDescription > label {
        display: none;
    }

    .dissapearsWhenToSmall {
        display: none;
    }
}