section {
  min-height: max(50vh, 350px);
  max-height: fit-content;
  max-width: min(75vw, 1200px);
  min-width: min(75vw, 1200px);
  /* background-color: rgb(231, 231, 231); */
  color: whitesmoke;
}


.linebreak {
  min-width: calc(min(75vw, 1200px) * 0.8);
  border: none;
  border-image: linear-gradient(to right, transparent 5%, rgba(245, 245, 245, 0.75), transparent 95%) 1 / 2px;
  border-bottom: solid;
  border-width: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.colouredBackground {
  position: absolute;
  background-image: linear-gradient(to bottom,white 60vh, orange 100vh, orangered);
  min-height: calc((max(50vh, 350px) * 11) + 100vh);
  z-index: -1;
  min-width: 100vw;
  max-width: 100vw;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewport {
  width: 100%;
  min-width: 100vw;
  max-width: 100vh;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  position: relative;

  overflow-x: hidden;
  overflow-y: hidden;
}

.languageSwitch {
  z-index: 14; 
  position: absolute;
  display: flex;
  width: 95%;
  justify-content: end;
  margin-right: max(15px, 10vw);
  color: white;
}

.languageSwitch > * {
  width: fit-content;
  user-select: none;
}

.languageSwitch > *:hover {
  cursor: pointer;
}

.callToAction {
  text-decoration: underline;
  /* align-self: flex-start; */
  font-size: larger;
  font-weight: bolder;
  border-style: solid;
  border-width: thin;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  border-radius: 25px;
  user-select: none;
}

.callToAction:hover {
  cursor: pointer;
  background-color: rgb(17, 39, 80);
  color: whitesmoke;
}

.navbar {
  z-index: 5;
  /* background-color: red; */
  position: absolute;

  margin-left: 0;
  margin-top: 15%;

  width: fit-content;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar > * {
  padding: 0;
  margin: 0;
  color: antiquewhite;

  font-weight: bold;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;

  transition: all 200ms ease-in-out
}

.navbar > *:hover {
  cursor: pointer;
  scale: 1.08;
  padding-left: 10px;
  transition: all 200ms ease-in-out;
  color: white;
}

.icon{
  min-height: 35px;
  height: 35px;
  min-width: 35px;
  width: 35px;
}

.largeItem {
  height: 1500px;
  background-color: green;
}

.contentContainer {
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  scroll-behavior: smooth;

  /* z-index: 10; */

  /* perspective: 10px; */
}

/* .contentContainer > * {
  max-height: fit-content;
} */

.blackScreen {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;

  background-color: black;

  z-index: 12;
}

.greetingSection {
  z-index: 9;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  display: flex;
  border-bottom-right-radius: 60% 30%;
  contain: strict;
  background-color: whitesmoke;

  /* transform: translateZ(5px) scale(0.5); */
}

.greetingTitle {
  position: absolute;
  z-index: 12;
  width: 100%;
  max-width: 100%;
  color: rgb(17, 39, 80);
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

.greetingTitle > * {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  margin-right: max(40px, 15vw);
}


.greetingTitle > * > h1 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 5px;
  z-index: 13;

  /* background-image: linear-gradient(to bottom right, rgb(8, 59, 122) 60%, rgb(4, 248, 155));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: transparent; */
}

.greetingTitle > h3 {
  max-width: 35%;
}

/* .greetingTitle > div > *:first-child {
  font-size: 6rem;
} */

.interestsSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: 20vh;
}

.interestsSection > div {
  max-width: min(42%, 500px);
  padding-right: 40%;
  margin-top: -25px;
}

.interestsSection > div > h2 > span {
  font-size: larger;
  vertical-align: top;
}

.interestsSection > div > * {
  text-align: justify;
}

.interestsSection > div:first-child {
  padding-left: 10%;
  padding-right: 0;
}

.interestsSection > div:last-child {
  padding-left: 50%;
  padding-right: 0;
  margin-top: -100px;
}


.profilePicture {
  margin-top: min(10vh, 50px);
  margin-left: max(5vw, 50px);
  max-height: max(60vh, 450px);
  position: absolute;
  left: 5vh;
  z-index: 11;
}

.shapedBorder1 {
  border-radius: 36% 64% 71% 29% / 51% 38% 62% 49%;
}

.shapedBorder2 {
  border-radius: 30% 70% 67% 33% / 54% 66% 34% 46% ;
}

.imageContainerSquare {
  min-height: 80%;
  max-height: 80%;
  aspect-ratio: 1.3;
}

.imageContainerSquare > img {
  height: 100%;
  transform: translateX(-75px);
}

.strict {
  contain: strict;
}

.fullHeight {
  min-height: 100%;
  min-width: fit-content;
}

.backGroundImageSectionContainer {
  position: absolute;
  overflow: hidden;
  /* display: grid;
  place-items: center; */
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  justify-content: end;
}

.backGroundImageSection {
  max-width: 100%;
  min-height: 110vh;
  min-width: calc(110vh * 1.3333); /* the ratio of the image */
  margin-left: 0;
  /* filter: grayscale(0.85); */
  z-index: 1;
  margin-top: -10vh ;
}

.colorBlockFade {
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: none;
  background-image: linear-gradient(120deg, transparent max(50%, 500px), rgb(231, 231, 231) max(80%, 700px));
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
}

.chapterTitle {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 50px;
  align-items: center;
} 
.chapterTitle > * {
  margin: 0;
  max-width: 60%;
  text-align: center;
}

.fitContent {
  width: fit-content;
  max-width: fit-content;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textHolder {
  height: fit-content;
  max-height: fit-content;
}

.project > div {
  min-width: 300px;
  max-width: 40%;
}

/* .textHolder {
  min-width: 300px;
  max-width: 40%;
}

.imageHolder {
  min-width: 300px;
  max-width: 300px;
} */

.project > div > img {
  max-height: 90%;
  max-width: 100%;
}

.project > *:first-child:hover {
  cursor: pointer;
}

.project > *:hover + * > img {
  scale: 1.1;
}

.project > *:hover + * > div {
  scale: 1.1;
}

.project > div > img:hover {
  scale: 1.1;
  cursor: pointer;
}

.project > div > div:hover {
  scale: 1.1;
  cursor: pointer;
}

.easeInOut {
  transition: all 200ms ease-in-out;
}

.reverseRow {
  flex-direction: row-reverse;
}

.flipVertically {
  transform: scaleX(-1);
}

.verticalImage {
  scale: 1.1;
  text-align: left;
  /* display: flex;
  justify-content: start;
  align-items: end; */
}

.centerItems {
  display: flex;
  justify-content: center;
}

.extraMarginTop {
  margin-top: 150px;
}

.extraMarginBottom {
  margin-bottom: 150px;
}

.mainCallToAction {
  background-image: linear-gradient(to bottom right, white, lightgray);
  border-radius: 15px;
  /* margin-top: 100px; */
  padding: 25px;
  min-height: max(40vh, 400px);
  max-height: max(40vh, 400px);
  
  
  max-width: 60%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: end;

  position: relative;
}

.mainCallToAction > * {
  color: rgb(17, 39, 80);
}

.mainCallToAction > h1 {
  justify-self: left;
  align-self: flex-start;
  font-size: 3rem;
  position: absolute;
  max-width: 90%;
  left: 5%;
}

.mainCallToAction > h1 > span {
  font-style: italic;
}

.mainCallToAction > div {
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap;
  flex-grow: 1; */
  /* justify-content: flex-start; */
  gap: 10%;
  align-self: end;
  padding-right: 3%;
  padding-bottom: 3%;
}

.mainCallToAction > div > * {
  min-width: 40%;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  min-height: 60px;
  gap: 10px;
  margin-left: 20px;
}

.mainCallToAction > div > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mainCallToAction > div > div > * {
  user-select: none;
}

.mainCallToAction > div > *:last-child {
  text-decoration: underline;
  /* align-self: flex-start; */
  /* font-size: larger;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
  user-select: none;
  margin-left: 0; */
}

/* .mainCallToAction > div > *:last-child:hover {
  cursor: pointer;
  background-color: rgb(17, 39, 80);
  color: whitesmoke;
} */

@media (width < 1120px) {
  section {
    min-width: 100%;
    max-width: 100%;
  }

  .colouredBackground {
    min-height: calc(100vh * 7.5);
  }

  .languageSwitch {
    font-size: 1.5rem;
  }

  
}